.login-body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    background: #c6ced1;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    padding: 30px;
    width: 300px;

    border-radius: 20px;
}

/* loginform */

.login-form-header {
    font-size: 28px;
}

.login-form-input {
    margin: 20px 0px 20px 0px;
}

.login-form-input input {
    all: unset;
    cursor: pointer;
    padding: 10px;
}

.login-form-input-login input {
    border: 0;
    text-decoration: none;
    border-bottom: 1px #3f505a solid;
}

.login-form-input-password input {
    border: 0;
    text-decoration: none;
    border-bottom: 1px #3f505a solid;
}

.login-form-input-submit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-form-input-submit input {
    color: #fff;
    border: 1px solid #3f505a;
    text-decoration: none;
    background: #3f505a;
    padding: 15px;
    width: 150px;
    transition: 0.5s;
}

.login-form-input-submit:hover input {
    color: #09d438;
    width: 170px;
}

/* loginform */